#image1 {
    padding: 8px;
    margin: 70px 95px;
    float: left; 
    /*background-color: #f4f5f7;*/
    border-radius: 25px;
    position: absolute;
}


#image2 {
    padding: 8px;
    margin: 70px 630px;
    float: right;
    /*background-color: #f4f5f7;*/
    border-radius: 25px;
    position: absolute;
}

footer {
	padding:100px 120px;
    margin: 300px;
	letter-spacing: .08em;
	font-weight: 500;
}

.footer:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 10px;
}