<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rules</title>
    <link href="https://fonts.googleapis.com/css?family=Frijole" rel="stylesheet">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/skeleton.css">
    <link rel="stylesheet" href="../css/normalize.css">
</head>
<body class="body">
    <header>
        <h1>THIS IS WAR</h1>
    </header>

    <nav>
        <a class="index" href="../index.html">Game</a>
        <a class="rules" href="rules.html">Rules</a>
    </nav>

    <p class="welcome-rules">Welcome, players. The rules are simple.</p>
       
    <ul>
        <li> Both players starts off with 26 cards (half of a deck). </li>
        <li> Each of you turn up the card at the top of your deck
        at the same time. </li>
        <li> The player with the higher card  takes both cards and puts them at 
        the bottom of their stack.</li>
        <li> If the cards happen to be the same rank, <strong>WAR</strong>
        is declared. </li>
        <li> Each player must deal the top three cards on their 
        stack faced down, with one card facing up. </li>
        <li> The person that has the higher card takes the 
        cards from <strong>WAR</strong> and adds them to their deck. </li>
        <li> The winner holds the entire deck of cards in their power. </li>
    </ul>

    <p class="welcome-rules"> Best of luck to you both. Let the game begin. </p>
</body>
</html>